<p id="notice"><%= notice %></p>

<p><%= image_tag("logo5.png", :alt => "Application exemple", :class => "round") %></p>
<table>
  <thead>
    <tr>
      <th>Titre &nbsp </br></th>
      <th>Categorie &nbsp</br></th>
      <th>Prix &nbsp</br></th>
      <th>Contenu &nbsp</br></th>
      <th>Email &nbsp</br></th>
      <th>Ville &nbsp</br></th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @annonces.each do |annonce| %>
      <tr>
        <td></br><%= annonce.titre %>&nbsp</br></td>
        <td></br><%= annonce.categorie %>&nbsp</br></td>
        <td></br><%= annonce.prix  %>&nbsp</br></td>
        <td></br><%= annonce.contenu  %>&nbsp</br></td>
        <td></br><%= annonce.email  %>&nbsp</br></td>
        <td></br><%= annonce.ville %>&nbsp</br></td>
        <td></br><%= link_to 'Voir  ', annonce %></br></td>
        <<td></br><%= link_to 'Modifier  ', edit_annonce_path(annonce) %></br></td>
        <td></br><%= link_to 'Supprimer  ', annonce, method: :delete, data: { confirm: 'Êtes vous sur ?' } %></br></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crée une nouvelle annonce', new_annonce_path %></br>
</br>
</br>

<h7 align="justify">Pour tout retrait d'annonce, merci de contacter nos équipes annonciator à l'adresse suivante : jhoussou@et.esiea.fr</br>
  Une annonce est supprimée par les équipes de modérations au bout de 14 jours</h7>

</br>
</br>
</br>
</br>