<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @annonce.titre %>
</p>

<p>
  <strong>Categorie:</strong>
  <%= @annonce.categorie %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @annonce.prix %>
</p>

<p>
  <strong>Contenu:</strong>
  <%= @annonce.contenu %>
</p>

<p>
  <strong>Email:</strong>
  <%= @annonce.email %>
</p>

<p>
  <strong>Ville:</strong>
  <%= @annonce.ville %>
</p>

<%= link_to 'Edit', edit_annonce_path(@annonce) %> |
<%= link_to 'Back', annonces_path %>
